html {
    background: #171717;
    color: #ddd;
}

h1, h2, h3, h4, h5 {
    color: #ccc;
}

input, button {
    color: #ddd;
    background-color: #222;
}

/* svg {
    float: right;
    display: block;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    margin-right: 0;
} */


/* body {
    background: black;
  } */
  circle {
    fill: cadetblue;
  }
  line {
    stroke: #777;
    marker-end: url("#triangle");
  }
  text {
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: #ccc;
    font-size: .8rem;
  }
  
  
  /* svg { 
    position:absolute; 
    top:0; left:0; height:100%; width:100%;
    z-index: -1;
} */

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
  background: darkslategray;
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}