html {
    background: #171717;
    color: #ddd;
}

h1, h2, h3, h4, h5 {
    color: #ccc;
}

input, button {
    color: #ddd;
    background-color: #222;
}

svg {
    float: right;
    display: block;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    margin-right: 0;
}

